<html>
    <head>
        <title>Mi blog jeje</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Rocio's blogggggg</a></h1>
        </div>

        <div>
            <p>publicao er 30/04/2020 a las 16:12</p>
            <h2><a href="">Primera publicasao</a></h2>
            <p>Tengo dos gatetes muy monos</p>
        </div>

        <div>
            <p>publicado el 30/04/2020 a las 16:12 uwu</p>
            <h2><a href="">Segunda publikasion</a></h2>
            <p>Uno es Snow y el otro Elvis</p>
        </div>
    </body>
</html>